body{
    margin-top:2px;
    margin-left:0px;
    margin-right: 0px;

}
header{
    width:100%;
    height:75px;
    float:left;
    background-color: #dcdcdc;
} 
.logo{
    width:200px;
    height:75px;
    background-color: #dcdcdc;
    float:left;
    margin-left: 225px;
}
.top-left{
    float:right;
    width:300px;
    margin-right:200px;
    margin-top: 15px;
    height:50px;
} 
img{
    margin-top:10px;
    margin-left: 70px;
}
img:hover{
    opacity: 0.5;
}
a{
    font-size: 25px;
    margin-left: 50px;
    line-height: 50px;
    color:#696969;
    text-decoration: none;
}
a:hover{
    color:	#00BFFF;
}
section{

    width:100%;
    background-color: transparent;
    float:left;
    margin-top: 40px;
}
.reg1{
    width:600px;
    height:500px;
    margin:auto;
    background-color:	#5F9EA0;	


}
h1{
    background:	 #008080;
    text-transform: uppercase;
    color: 	#FAFAD2;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    padding: 20px;

}
.field
{
    width:550px;
    height:75px;
    float:left;
    margin-top: 10px;

}
.namefield{
    width:150px;
    height:50px;
    float:left;
    margin-top: 15px;
    margin-left:20px;
}
label{
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    color:	#FFDEAD;
}

.textfield  {
    width:330px;
    height:50px;
    margin-top: 15px;
    margin-left:0px;
    float:left;
} 
input,select,textarea{
    margin-top:7px;
    width:300px;
    height:30px;
}

button           {  
    background-color:#008080;
    margin-top:0px;
    color:#FAFAD2;
    width:20%;
    height:50px;	
    border-radius:50px;
    margin-left:225px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.newuser{
    color:black;
    font-size: 15px;
    text-decoration: underline;
    margin-left: 210px;
}
.newuser:hover{
    color:	#FFDEAD;
}

footer{
    background-color:#3f3f3f;
    height:500px;
    position: relative;
    width:100%;
    margin-top:40px;
    float:left;
    font-family: "Times New Romen",Arial;
}
#connect-with-us{
    width:300px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size:17px;
    margin-top: 50px;
    color: #747474;
}
#media{
    width:600px;
    height:50px;
    margin:auto;
    margin-top: 15px;

}
#socialmedia{
    width:130px;
    height:50px;
    float:left;
    margin-left: 10px;

}
.social{
    font-size: 17px;
    font-weight: bold;
    color:#E9E9E9;
}
#newsletter{
    width:300px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size:17px;
    margin-top: 100px;
    color: #747474;
}
#signup{
    width:500px;
    margin: auto;
    text-align: center;
    font-size:15px;
    margin-top:35px;
    color: #747474;
}
#subscribe{
    width:700px;
    height:100px;
    margin: auto;
    margin-top: 10px;
}
.news-mail{
    width:500px;
    height:50px;
    background-color:  #5F5F5F;
    border:0.3px solid black;
    border-radius: 5px;
    color:white;
    margin-left: 100px;
    font-size:17px;
}
.news-button{
    width:130px;
    height:49px;
    border:1px;
    margin-left:-135px;
    border-radius: 1px;
    color:#747474;
    font-size: 15px;
    background-color:#2F2F2F;
}
#subscribe_msg{
    font-size: 17px;
    font-weight: bold;
    color:whitesmoke; 
    width:400px;
    height:50px;
    margin: auto;

}
#copyright{
    width:300px;
    margin: auto;
    text-align: center;
    font-size:12px;
    margin-top: 50px;
    color: #747474;
}