body{
    margin-top:2px;
    margin-left:0px;
    margin-right: 0px;

}
header{
    width:100%;
    height:75px;
    float:left;
    background-color: #dcdcdc;
} 
.logo{
    width:200px;
    height:75px;
    background-color: #dcdcdc;
    float:left;
    margin-left: 225px;
}
.top-left{
    float:right;
    width:300px;
    margin-right:40px;
    margin-top: 15px;
    height:50px;
    line-height:10px;
    color:#696969;
} 
img{
    margin-top:10px;
    margin-left: 70px;
}
img:hover{
    opacity: 0.5;
}
a{
    font-size: 22px;
    margin-left:10px;
    line-height: 50px;
    color:#696969;
    text-decoration: none;
}
a:hover{
    color:	#00BFFF;
}
section{

    width:100%;
    background-color: transparent;
    float:left;
    margin-top: 40px;
}
#assigned_issue{
    width:100%;
    float:left;
}
.issue_name{
    width:200px;
    height:50px;
    float:left;
    margin-left:40px;
    background-color: 	#FFE4B5;

}
textarea{
    width:250px;
    height: 50px;
}
h3{
    color:red;
    text-align: center;
}
.issue_text{
    width:200px;
    height:75px;
    margin-top: 10px;
    margin-left: 10px;
    float:left;
    margin-left: 40px;
    text-align: center;
}
.issue_des{
    
    width:220px;
    height:75px;
    float:left;
    margin-top:10px;
    margin-left:30px;
    overflow: scroll;
    
}
#closed_issue{
    width:100%;
    float:left;
    margin-top:30px;
}
h2{
    text-align:center;
}
.all_issue_name{
    width:190px;
    height:50px;
    float:left;
    margin-left:10px;
    background-color: 	#FFE4B5;
}
.all_issue_text{
    width:185px;
    height:50px;
    float:left;
    line-height: 30px;
    margin-top:10px;
    text-align: center;
    margin-left:10px;
}
.all_issue_des{
    width:200px;
    height:50px;
    float:left;
    margin-top:10px;
    margin-left:10px;
    overflow: scroll;
   }
h4{
    line-height:0px;
}

footer{
    background-color:#3f3f3f;
    height:500px;
    position: relative;
    width:100%;
    margin-top:40px;
    float:left;
    font-family: "Times New Romen",Arial;
}
#connect-with-us{
    width:300px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size:17px;
    margin-top: 50px;
    color: #747474;
}
#media{
    width:600px;
    height:50px;
    margin:auto;
    margin-top: 15px;

}
#socialmedia{
    width:130px;
    height:50px;
    float:left;
    margin-left: 10px;

}
.social{
    font-size: 17px;
    font-weight: bold;
    color:#E9E9E9;
}
#newsletter{
    width:300px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size:17px;
    margin-top: 100px;
    color: #747474;
}
#signup{
    width:500px;
    margin: auto;
    text-align: center;
    font-size:15px;
    margin-top:35px;
    color: #747474;
}
#subscribe{
    width:700px;
    height:100px;
    margin: auto;
    margin-top: 10px;
}
.news-mail{
    width:500px;
    height:50px;
    background-color:  #5F5F5F;
    border:0.3px solid black;
    border-radius: 5px;
    color:white;
    margin-left: 100px;
    font-size:17px;
}
.news-button{
    width:130px;
    height:49px;
    border:1px;
    margin-left:-135px;
    border-radius: 1px;
    color:#747474;
    font-size: 15px;
    background-color:#2F2F2F;
}
#subscribe_msg{
    font-size: 17px;
    font-weight: bold;
    color:whitesmoke; 
    width:400px;
    height:50px;
    margin: auto;

}
#copyright{
    width:300px;
    margin: auto;
    text-align: center;
    font-size:12px;
    margin-top: 50px;
    color: #747474;
}